<!-- extend from base layout -->
{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
    {% for post in posts %}
    <div>
        <h3 align="center" margin-top="20px">{{ post.author }} </h3>
        <hr>
        <table border="1" cellspacing="5" cellpadding="5">
            <tr><th></th><th scope="col">Upvotes</th><th scope="col">Downvotes</th><th scope="col">Comments</th><th scope="col">Score</th></tr>
            <tr><th scope="row">Number</th>
                <td>{{ post.ups }}</td><td> {{ post.downs }}</td><td> {{ post.num_comments }}</td><td>{{ post.score }}</td>
            </tr>
        </table>
        <p class="one">Text:</p>
        <p style="border-style:solid; border-color:#FF0000;" class="desc">{{ post.selftext }}</p>
        <a href="{{ post.url }}" target="_blank">Link : {{ post.url }}</a>
    </div>
    {% endfor %}
{% endblock %}
{% block head %}
{% endblock head %}
